{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class="content-wrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="error-wrap align-center">
					<h1 class="error-code">{{statusCode}}</h1>
					<h2 class="error-message h3">{{message}}</h2>
					<p class="message-manual">{{t "Unfortunately the page you were looking for could not be found."}}</p>
					<a href="{{@site.url}}" class="btn btn-primary">{{t "Visit Home page"}}</a>
				</div>
			</div>
		</div>
	</div>
</div>