<!-- start header -->
<header class="site-header" id="main-navbar">
	<div class="container">
		<div class="row">
			<div class="navbar-header">
				<!-- start logo -->
				{{#if @site.logo}}
				<a class="logo image-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}"></a>
				{{else}}
				<a class="logo text-logo" href="{{@site.url}}">{{@site.title}}</a>
				{{/if}}
				<!-- end logo -->
			</div>
			{{! insert navigation partial}}
			{{navigation}}
			{{!-- <ul class="nav-right pull-right align-right">
				
				
			</ul>
			<ul class="nav navbar-nav navbar-right">
    </ul> --}}
			<div class="nav-right pull-right align-right">
				{{#if @labs.members}}
				{{#if @member}}
				<ul class="members-menu hidden-sm hidden-xs" id="members-menu">
					<li class="nav-item member-link">
						<a class="btn btn-sm" href="/account/">{{t "Account"}}</a>
					</li>
					<li class="nav-item member-link">
						<a class="btn btn-sm btn-primary" href="#signout" data-members-signout>{{t "Sign out"}}</a>
					</li>
				</ul>
				{{else}}
				<ul class="members-menu hidden-sm hidden-xs" id="members-menu">
					<li class="nav-item member-link">
						<a class="btn btn-sm" href="/signin/">{{t "Sign in"}}</a>
					</li>
					<li class="nav-item member-link">
						<a class="btn btn-sm btn-primary" href="/signup/">{{t "Subscribe"}}</a>
					</li>
				</ul>
				{{/if}}
				{{/if}}
				<span class="search-toggle" id="search-button" data-toggle="modal" data-target="#searchmodal"><i class="fa fa-search align-center"></i></span>
				<span class="mobile-menu-toggle hidden-md hidden-lg" id="nav-toggle-button"><i class="fa fa-bars align-center"></i></span>
			</div>
			<nav class="mobile-menu visible-sm visible-xs" id="mobile-menu"></nav>
			<div class="backdrop hidden-md hidden-lg" id="backdrop">
				<span class="menu-close align-center"><i class="fa fa-arrow-left"></i></span>
			</div>
		</div>
	</div>
</header>
<!-- end header -->